
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0px;
}

.hero {
    background: #1a1a1a;
    color: #fff;
    padding: 20px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}

nav .logo {
    width: 160px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
}

nav ul li a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #00986f;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 70%;
}

.contact-collection {
    background-color: #1a1a1a;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.contact-collection h2 {
    font-size: 40px;
    font-weight: 400;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.slider-container {
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 auto;
    width: 20px;
    scroll-snap-align: start;
}

.contact-collection .slider-container img {
    max-width: 50px;
    height: auto;
    margin: 0px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}


.slide img:hover {
    transform: scale(1.1);
}

.button-container {
    margin-top: 20px;
}

button {
    background-color: #00986f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px;
    text-align: center;
}
